// Pass our default credentials
- var authed = ''
form#credentials
  input(type='hidden', name='apiName', value=apiName)
  - if (apiInfo.auth)
    - if (apiInfo.oauth)
      input(type='hidden', name='oauth', value='authrequired')

      - if (apiInfo.auth.defaultSecret)
        - var defaultSecret = apiInfo.auth.defaultSecret
      - else
        - var defaultSecret = ''

ul.inline
  - var endpoint = apiDefinition.endpoints[0]
    - if (endpoint.methods.length)
      - each method in endpoint.methods
        li.method
          form
            input(type='hidden', name='httpMethod', value=method.HTTPMethod)
            input(type='hidden', name='oauth', value='')
            input(type='hidden', name='methodUri', value=method.URI)
            - if (method.parameters.length > 0)
              - each parameter in method.parameters
                - var field_value = req.param(parameter.Name) || parameter.Default
                - if (field_value)
                  input(type='hidden', name='params[' + parameter.Name + ']', value=field_value)

          .experiment
            a(href=req.path.replace(/inline\//, ''), target='_blank') Experiment with this request &raquo;
